@model KisaanMart.Data.Models.UserMachine

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>UserMachine</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="AmountPerHour" class="control-label"></label>
                <input asp-for="AmountPerHour" class="form-control" />
                <span asp-validation-for="AmountPerHour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AmountPerAcre" class="control-label"></label>
                <input asp-for="AmountPerAcre" class="form-control" />
                <span asp-validation-for="AmountPerAcre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="userId" class="control-label"></label>
                <select asp-for="userId" class="form-control" asp-items="ViewBag.userId"></select>
                <span asp-validation-for="userId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MachineId" class="control-label"></label>
                <select asp-for="MachineId" class="form-control" asp-items="ViewBag.MachineId"></select>
                <span asp-validation-for="MachineId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

