<div class="row">

    <div class="col-md-10">
        <h1>Advisory</h1>

        <div class="form-group">

            <h2>It will help farmers for better understanding about farming, good agriculture and environmental condition</h2><br />
            You can visit below site to get the advisory from experts team.

        </div>
        <div class="form-group">


            <label class="control-label">Link:</label>&nbsp;<a href="https://dir.indiamart.com/impcat/farming-consultation-services.html">https://dir.indiamart.com/impcat/farming-consultation-services.html</a>

        </div>

    </div>
    <div class="col-md-4"></div>

</div>