<div class="row">

    <div class="col-md-10">
        <h1>Agro Marketing</h1>

        <div class="form-group">

            <h2>It will help to keep farmers abreast of crop prices and discourage them to go for distress sales</h2><br />
            You can visit below site to get the Agro marketing information.

        </div>
        <div class="form-group">


            <label class="control-label">Link:</label>&nbsp;<a href="https://agmarknet.gov.in/">https://agmarknet.gov.in/ </a>

        </div>

    </div>
    <div class="col-md-4"></div>

</div>