
<div class="row">

    <div class="col-md-10">
        <h1>Polyhouse Farming</h1>

        <div class="form-group">
            <img src="~/Images/Kheyti-Logo-Website.png" /><br />
            <span>We design, adapt and implement low-cost farming solutions that help small farmers increase yield and predictability of produce. We combine these technologies with end-to-end support to give these farmers a seamless path towards income increase. We have developed a “Greenhouse-in-a-box” – an affordable, modular greenhouse bundled with full stack services that uses 90% less water, grows 7 times more food and gives farmers a steady dependable income.</span></td>

        </div>
        <div class="form-group">
            <label class="control-label">Link:</label>
            <a href="https://kheyti.com/">https://kheyti.com/</a>

        </div>

    </div>
    <div class="col-md-4"></div>

</div>
