<div class="row">

    <div class="col-md-10">
        <h1>Crop Insurance</h1>

        <div class="form-group">

            <h2>This will help farmers to calculate insurance premium for notified crops</h2><br />
            You can visit below site to get the information about crop insurance.

        </div>
        <div class="form-group">

            
            <label class="control-label">Link:</label>&nbsp;<a href="http://vikaspedia.in/agriculture/agri-insurance/crop-insurance">http://vikaspedia.in/agriculture/agri-insurance/crop-insurance</a>

        </div>

    </div>
    <div class="col-md-4"></div>

</div>