<div class="row">

    <div class="col-md-10">
        <h1>Fertilizer</h1>

        <div class="form-group">

            <h2>It will help farmers to grow nutritious crops and healthy crops</h2><br />
            You can visit below site to get the Fertilizer information.

        </div>
        <div class="form-group">


            <label class="control-label">Link:</label>&nbsp;<a href="http://fert.nic.in/">http://fert.nic.in/</a>

        </div>

    </div>
    <div class="col-md-4"></div>

</div>