<div class="row">

    <div class="col-md-10">
        <h1>Polyhouse Farming</h1>

        <div class="form-group">
            
             <h2>It is a smart way of farming that uses 90% less water, grows 7 times more food and gives farmers a steady dependable income.</h2><br/>
             If you would like to implement can visit below site
      
        </div>
        <div class="form-group">
            
            <img src="~/images/Kheyti-Logo-Website.png" /><br />
            <label class="control-label">Link:</label>&nbsp;<a href="https://kheyti.com/">https://kheyti.com/</a>

        </div>

    </div>
    <div class="col-md-4"></div>

</div>

