<div class="row">

    <div class="col-md-10">
        <h1>Seed Testing</h1>

        <div class="form-group">

            <h2> Use of quality seeds can boost farm production and increase in crop yields by 15-20%.</h2><br />
            You can visit below site to get the information.

        </div>
        <div class="form-group">


            <label class="control-label">Link:</label>&nbsp;<a href="https://seednet.gov.in/">https://seednet.gov.in/</a>

        </div>

    </div>
    <div class="col-md-4"></div>

</div>
