<div class="row">

    <div class="col-md-10">
        <h1>Soil Testing</h1>

        <div class="form-group">

            <h2> Fertilizer to meet the requirements of the crop while taking advantage of the nutrients already present in the soil.</h2><br />
            You can visit below site to get the information.

        </div>
        <div class="form-group">


            <label class="control-label">Link:</label>&nbsp;<a href="http://www.soiltestingindia.com/">http://www.soiltestingindia.com/</a>

        </div>

    </div>
    <div class="col-md-4"></div>

</div>


