<div class="row">

    <div class="col-md-10">
        <h1>Soil Testing</h1>

        <div class="form-group">

            <h2> To discourage farmers, forced to market their crop produce at low price.</h2><br />
            You can visit below site to get the information.

        </div>
        <div class="form-group">


            <label class="control-label">Link:</label>&nbsp;<a href="https://igmri.dfpd.gov.in/igmri/">https://igmri.dfpd.gov.in/igmri/</a>

        </div>

    </div>
    <div class="col-md-4"></div>

</div>


