@model KisaanMart.Data.Models.Machine

@{
    ViewData["Title"] = "Edit";
}


<hr />
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h1>Edit Machine Info</h1>
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="MachineName" class="control-label"></label>
                <input asp-for="MachineName" class="form-control" />
                <span asp-validation-for="MachineName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MachineDescription" class="control-label"></label>
                <input asp-for="MachineDescription" class="form-control" />
                <span asp-validation-for="MachineDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MachineImage" class="control-label"></label>
                <br />
                @*<input asp-for="MachineImage" class="form-control" />*@
                <img style="width:90px;height:90px;" src="@Url.Action("RenderImage", new { id = Model.Id})" />
                <span asp-validation-for="MachineImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md-4"></div>

</div>

    <div>
        <a asp-action="Index">Back to Machines Info List</a>
    </div>

